#script config
oci_cmd="oci"
csv_delimiter=";"

#enclosing hierarchy
tenancy_ocid=""
enclosing_cmp_ocid=""
cmp_dev_ocid=""
cmp_prd_ocid=""
cmp_rec_ocid=""
cmp_hml_ocid=""

#app hierarchy
env_list=("dev")
cmp_name="cmp-\$app_name-\$env"
subnet_name="snet-\$app_name-\$env"
vcn_name="vcn_dev"

group_owner_name="grp-owner-\$app_name-\$env"
group_user_name="grp-user-\$app_name-\$env"

policy_name="plcy-\$env"

policy_st_owner="file://plcy_owner.json"

policy_st_user="file://plcy_user.json"
